/* .fb-editor {
    padding: 10px 15px;
    margin: 0;
    font-family: sans-serif;
    background: #f2f2f2 url("https://formbuilder.online/assets/img/noise.png")
      repeat fixed;
  } */
  
.addSectionBtn {
    z-index: 1000;
    cursor: pointer;
    border: none;
    border: 4px solid #ffffff;
    position: absolute;
    bottom: 3px;
    right: 300px;
    border-radius: 50px;
    padding: 0.4rem 1.2rem;
    color: #ffffff;
    outline: none;
    font-size: 1.2rem;
    background-color: var(--mainColor);
  }

  .form-submit-btn {
    font-size: 1.2rem !important;
    border-radius: 8px !important;
  }